HOST=127.0.0.1
PORT=8000
DB_PORT=27017
DB_UI_PORT=8081

MONGODB=readme-user
MONGODB_HOST=127.0.0.1
MONGODB_PORT=27017
MONGODB_USER=admin
MONGODB_PASSWORD=password
MONGODB_AUTH_DATABASE=admin
MONGODB_EXPRESS_PORT=8081
