HOST=127.0.0.1
PORT=9000

POSTGRES_USER=admin
POSTGRES_PASSWORD=test
POSTGRES_DB_NAME=readme-post
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@postgres.sql
PGADMIN_DEFAULT_PASSWORD=test
PGADMIN_DEFAULT_PORT=8082

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=1088
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=test
RABBITMQ_QUEUE='readme.notification.sendPosts'
RABBITMQ_EXCHANGE='readme.notification.sendPosts'
