HOST=127.0.0.1
PORT=11000

AUTHENTICATION_SERVICE_URL=http://127.0.0.1:8000/api/auth
USER_SERVICE_URL=http://127.0.0.1:8000/api/users
POST_SERVICE_URL=http://127.0.0.1:9000/api/posts
COMMENT_SERVICE_URL=http://127.0.0.1:9000/api
TAG_SERVICE_URL=http://127.0.0.1:9000/api/tags
NOTIFY_SERVICE_URL=http://127.0.0.1:10000/api/notification

HTTP_CLIENT_MAX_REDIRECTS=5
HTTP_CLIENT_TIMEOUT=3000
