
AUTHENTICATION_SERVICE_URL=http://localhost:8000/api/auth
USER_SERVICE_URL=http://localhost:8000/api/users
POST_SERVICE_URL=http://localhost:9000/api/posts
NOTIFY_SERVICE_URL=http://localhost:10000/api/notification

HTTP_CLIENT_MAX_REDIRECTS=5
HTTP_CLIENT_TIMEOUT=3000
